// Colors
$background-color: white;
$font-color-dark: #1e1e1e;
$font-color-light: #5b5b5b;
$font-color-super-light: #8f8f8f;
$orange: #fe5d26;
$gold: #f2c078;
$lemon: #faedca;
$tea: #c1dbb3;
$dark-sea-green: #7ebc89;
